body {
    font-family: sans-serif;
    width: 400px;
    padding: 10px;
    background: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

input {
    width: 385px;
    padding: 12px 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

ul {
    list-style-type: none;
    padding: 0px 8px;
    max-height: 400px;
    overflow-y: overlay;
    width: 100%;

}

li {
    background: white;
    padding: 8px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.btn-delete-all {
    margin-top: 10px;
    padding: 8px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background 0.3s ease, color 0.3s ease;
}

.btn-delete-all:hover {
    background: crimson;
    color: white;
}

.copy-button {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    /* padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px; */
}

.copy-button:hover {
    transform: scale(1.2);
}


.delete-button {
    background: transparent;
    border: none;
    color: crimson;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.delete-button:hover {
    transform: scale(1.2);
}